body {
  background-color: #f4f5f9; }
  body .inputForm {
    text-align: center; }
    body .inputForm button {
      margin: 10px; }
    body .inputForm .datepicker {
      margin: 20px; }

.card-container {
  text-align: center; }
  .card-container .card {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px; }
